<h2>Listado de usuarios</h2>
<mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar ... ">
</mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #tabla1>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Usuario </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.username}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
      </ng-container>

      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef> Detalle </th>
        <td mat-cell *matCellDef="let usuario">
          <button mat-raised-button (click)="detalle(usuario.id)">Detalle</button>
          <!--<button mat-raised-button (click)="editar(usuario.id)">Editar</button>-->
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <router-outlet></router-outlet>
